<%- include('partials/header') %> 
  <div class="app">
    <%- include('partials/alerts') %> 
    <a href="/create">Create new</a>
    <% if (todos.length) { %>
      <p>List of all things you have to do:</p>
      <ul>
      <% todos.forEach(todo => { %>
        <li>
          <strong><%= todo.title %></strong> (<%= todo.description %>) <i>#<%- todo.id %> </i>
          <a href="/update/<%= todo.id %>">Update</a>
          <a href="/delete/<%= todo.id %>">Delete</a>
        </li>
      <% }) %>
      </ul>
    <% } else { %>
       <p>You have nothing to do!</p>
    <% } %>
  </div>

<%- include('partials/footer') %>